@import url('https://fonts.googleapis.com/css2?family=Passion+One&family=Yesteryear&display=swap');

:root {
  --main-color: rgb(126, 133, 130);
  --main-color-accent: rgb(237, 192, 3);
  --main-color-transparent: rgba(126, 133, 130, 0.8);
  --secondary-color: rgba(128, 0, 0, 0.9);
  --accent-color: rgb(36, 36, 36);
  --accent-text-color: rgb(255, 255, 255);
  --main-font-family: 'Passion One', cursive;
  --secondary-font-family: 'Yesteryear', cursive;
}

html { scroll-padding-top: 100px; }
body {
  background-image: url('../images/theater-curtains.svg');
  background-size: 100% 120%;
  background-attachment: fixed;
  overflow-x: hidden;
}
.navbar {
  background-color: var(--secondary-color);
  border-bottom: 5px solid rgb(98, 0, 0);
  min-height: 100px;
}
.navbar-brand {
  color: var(--main-color-accent);
  font-family: var(--main-font-family);
  font-size: 45px;
  padding-left: 30px;
}
.navbar-brand:hover { color: var(--main-color-accent); }
.navbar-toggler { border-color: var(--main-color-accent); }
.navbar-toggler-icon { filter: invert(1); }
.nav-link {
  color: var(--main-color-accent);
  font-family: var(--main-font-family);
  font-size: 35px;
}
.nav-link:hover { color: var(--main-color-transparent); text-shadow: 0 0 3px rgba(255,123,0,.6); }
.nav-link:focus { color: var(--accent-text-color); text-shadow: 0 0 3px rgba(255,123,0,.6); }
.dropdown-menu { border: none; border-radius: 0; box-shadow: 0 0 16px 2px rgba(0,0,0,.4); background: var(--main-color); padding: 0; }
.dropdown-item { color: var(--accent-color); font-family: var(--main-font-family); text-align: center; font-size: 30px; padding: 15px 10px 20px; border-bottom: 2px solid rgb(117,77,13); }
.dropdown-item:hover { background: var(--secondary-color); color: var(--accent-text-color); }
#header-logo { padding: 50px 12px 0; }
h1, h3, h4, h5, p { cursor: default; }
h1 { font-family: var(--main-font-family); color: var(--main-color-accent); text-shadow: 0 0 10px #000; text-align: center; font-size: 100px; }
h3 { font-family: var(--main-font-family); font-size: 50px; }
h4 { font-family: var(--secondary-font-family); font-size: 25px; }
h5 { font-family: var(--main-font-family); font-size: 25px; padding: 18px 20px 0; }
b { font-weight: 600; }
img { border-radius: 5px; }
.container { padding: 100px; }
.card { border: 5px solid var(--main-color); border-radius: 5px; background: rgba(255,255,255,.9); }
.card-body { padding-top: 30px; padding-left: 20px; }
.spacer { padding-top: 50px; }
.btn { background: var(--main-color); border-radius: 20px; margin: 5px 5px 10px 0; padding-top: 10px; color: var(--accent-color); font-family: var(--main-font-family); font-size: 18px; }
.btn:hover { background: var(--secondary-color); color: var(--accent-text-color); }
.ticket-options { gap: 20px; }
.ticket-options > .col { min-width: 250px; }
.form-select { border: 3px solid var(--main-color); font-family: var(--main-font-family); }
.form-select:focus { border-color: var(--secondary-color); box-shadow: none; transition: .5s ease-in; }
input[type='number'] { width: 70px; padding: 5px; border: 3px solid var(--main-color); border-radius: 5px; font-family: var(--main-font-family); font-size: 20px; transition: border-color .5s ease-in; }
input[type='number']:focus { border: 3px solid var(--secondary-color); transition: .5s ease-in; outline: 0; }
.form-control { border: 3px solid var(--main-color); transition: 1s ease; }
.form-control:focus { color: #212529; border-color: var(--secondary-color); box-shadow: 0 0 0 .25rem var(--main-color); }
#contact-submit { float: right; }
.yellow-btn { background: var(--main-color-accent); }
footer { border-top: 5px solid var(--main-color); background: rgba(0,0,0,.6); margin: 0 -15px -15px; padding-left: 30px; padding-right: 30px; }
.footer-logo { max-width: 220px; height: auto; }
